ELASTICSEARCH_HOSTS=https://teste.teste
ELASTICSEARCH_API_ID=
ELASTICSEARCH_API_KEY=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

JENKINS_URL=
JENKINS_USERNAME=
JENKINS_PASSWORD=

ACCOUNT_ID=